.signUpForm,
.signInForm,
.forgotPasswordForm,
.phoneSignInFormPreSMS,
.phoneSignInFormPostSMS {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  text-align: left;
}

.signUpForm input,
.signInForm input,
.forgotPasswordForm input {
  width: 100%;
}

.signUpForm button,
.signInForm button {
  align-self: center;
  margin-top: 1rem;
}
