.signUpForm, .signInForm, .forgotPasswordForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.signUpForm:first-child, .signInForm:first-child {
    margin-top: 10px !important;
    margin-bottom: 10px;
}