.messages {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 250px;
    max-width: 500px;
    overflow-y: scroll;
    border: 5px solid black;
    border-radius: 20px;
    margin-bottom: 20px;
    text-align: start;
}

.roomContainer {
    text-align: center;
}

.roomContainer input, .roomContainer button:first-of-type {
    transform: scale(1.5);
    margin-left: 10vw;
    margin-right: 10vw;
}